<div class = "userAvailabilityDay">
    <p class = "userAvailabilityDayLabel"><%= `${day}`%></p>
    <div class = "userAvailabilityDayBlockWrapper">
        <%if(availability[day].length > 0){%>
            <%availability[day].forEach(function(timeBlock){%>
                <%if(timeBlock.startTime < facilityData.facilityOpen || timeBlock.startTime > facilityData.facilityClose || timeBlock.endTime < facilityData.facilityOpen || timeBlock.endTime > facilityData.facilityClose){%>
                    <p>Time outside facility hours. Speak to supervisor about time changes.</p>
                <%}else{%>
                    <%const index = availability[day].indexOf(timeBlock)%>
                    <div class = "userAvailabilityTimeBlock">
                        <p><%=`Start: ${timeConverter.runConvertTotalMinutesToTime(availability[day][index].startTime)}`%></p>
                        <p><%=`End: ${timeConverter.runConvertTotalMinutesToTime(availability[day][index].endTime)}`%></p>
                    </div>
                <%}%>
            <%})%>
        <%}else{%>
            <p>No timeblocks</p>
        <%}%>
        
    </div>
</div>