

    <div class = "teamGridTeamDayOfWeek"><%= day.dayOfWeek%></div>
    <div class = "teamGridTeamStartTime"><%= timeConverter.runConvertTotalMinutesToTime(day.startTime)%></div>
    <div class = "teamGridTimeAppender"> - </div>
    <div class = "teamGridTeamEndTime"><%= timeConverter.runConvertTotalMinutesToTime(day.endTime)%></div>
    <div class = "teamGridTeamInWeiss"><%= day.inWeiss%></div>
