
    <div class = "teamGridTeamOption">
      <div class = "teamGridTeamOptionNumber"><%=`Option ${optNum}`%></div>
      <div class = "teamGridTeamDayContainer">
        <%option.forEach(function(day){%>
            <%- include('./teamDayTemplate', {option: option, day:day, timeConverter:timeConverter})%>
        <%})%>
      </div>
    </div>
