<nav id = "nav">
    <%if(privilege == true){%>
        <h3 id= "userPageLink" class = "navLink">User Page</h3>
        <h3 id= "adminPageLink" class = "navLink">Admin Page</h3>
    <%}%>
        <h3 id= "logOutLink" class = "navLink">Log Out</h3>   
  </nav>