<nav id = "nav">
    <%if(privilegLevel == true){%>
        <h3 id= "userPageLink" class = "navLink"><a href = "../<%=season%>/home">User Page</a></h3>
        <h3 id= "adminPageLink" class = "navLink"><a href = "../<%=season%>/adminHome">Admin Page</a></h3>
    <%}%>
        <h3 id= "logOutLink" class = "navLink">Log Out</h3>   
  </nav>