<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/pennSchedule.css' />
  </head>
  <body>
    <header>
      <div id = "pageTitleIcon">
        <img id = "pageIcon" src = "">
        <div id = "pageTitle">UPenn S&C Facility Scheduling App</div>
        </div>
        <%- include('../partials/navBar', {name: name, season: season})%>     
    </header>
    
    <main>

        <%- body%>
        

    </main>
    <footer></footer>
  </body>
</html>
