<div style = 'text-align:center'>
    <h3 id = 'errorCode'>404 Error</h3>
    <p>An error occured! We will work to discover the issue! In the meantime, feel free to try to visit <a href = '/'>our page</a> again!</p>
</div>