<div id = "logInFormWrapper">
    <form id = "logInForm" action = '/logIn' method = 'post'>
        <h2>Sign In</h2>
        <div id = "logInUserNameDiv">
            <h3>Name</h3>
            <div id = "logInUserNameDiv">
                <input id = 'logInUserName' type = "text" name = 'username'>
            </div>
        </div>
        <div>
            <h3>Password</h3>
            <div id = "logInPasswordDiv">
                <input id = 'logInPassword' type = "password" name = 'password'>
            </div>
        </div> 
        <button id = 'loginAttemptButton' type = 'submit'>Log In</button>
        <button id = 'userDemoLoginButton' type = 'submit'>User Demo</button>
        <button id = 'adminDemoLoginButton' type = 'submit'>Admin Demo</button>
        <div id = 'errorListDiv'>
            <ul id ='errorList'>
                <%if(error != null){%>
                    <li><%= error%></li>
                <%}%>
            </ul>
        </div>
    </form>
</div>

<%- contentFor('script')%>
  <script src = "/javascripts/logInPage.js"></script>