/*general page elements*/


html{
	box-sizing: border-box;
}

html,body{
	font-size: 20px;
	margin:0px;
	height:100%;
	min-width: 1000px;
}

body{
	overflow-y: scroll;
}

@media screen and (max-width: 600px){
	body {
	  background:grey;
	  content: "This page is optimized for PC/tablet use for screen widths of XXX and wider. Please use a different device to access this application."
	}
}/*doesn't seem to be doing anything...*/


/*header, nav elements*/

header{
	background-color: #011F5b;
	color: white;
	display:flex;
	height: 3.5rem;
	position:sticky;
}

header a{
	color: white
}

#pageTitleIcon, #nav{
	display:flex;
	align-items: center;
}

#pageTitleIcon{
	justify-content:left;
	margin-left: 1rem;
	font-size: 1.5rem;
	flex-grow: 2;
}

#nav{
	flex-grow: 1;
}

.navLink{
	flex-grow:1;
	margin: .5rem;
	text-align: center;
}

.navLink:hover{
	background-color: #9898dd;
	border-radius:5px;
}

#seasonButtons > button > a{
	color: black;
}

/*general page content elements*/

main{
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("franklinField.jpg");
	background-attachment: fixed;	
}

main, .page{
	min-height: calc(100vh - 3.5rem);
}

/*userMainPage elements*/

#mainPage, #adminMainPage{
	display:grid;
	grid-template-columns: 4fr 1.5fr;
	grid-template-areas: 
	"mainColumn sideColumn";
}

#seasonButtons, #adminSeasonButtons{
	text-align: center;
	background-color: #9898dd;
	padding: .7rem;
}

#seasonButtons button, #adminSeasonButtons button{
	margin-left: 1rem;
	margin-right: 1rem;
	height: 2rem;
	width: 5rem;
	border-radius: 5px;
	font-size: 1.2rem;
}

#teamGridContainer, #adminMainPageTeamsGridContainer{
	display:grid;
	grid-template-columns: 1fr;
	width: 85%;
	background-color:#9898dd;
	margin: 2rem auto 0 auto;
	border: #011F5b solid;
	border-width: 1rem 1rem .5rem 1rem;
	text-align:center;
	opacity: .9
}
#teamGridMainLabel, #adminTeamGridMainLabel{
	font-size: 3rem;
	text-align: center;
	padding-top: 2rem;
}

#teamGridLabels{
	display:grid;
	padding: .5rem 0;
	background-color: white;
	grid-template-columns: 1fr 1fr .625fr 1.25fr .625fr 1.5fr;
	border-bottom: solid .5rem #011F5b;
}



#teamGrid, #adminMainPageTeamGrid{
	display:grid;
	grid-template-columns: 1fr;
	width:100%;
}

.teamGridTeam{
	border-bottom:solid .5rem #011F5b;
	padding: 1.5rem 0;
}

.teamGridTeamDetailsWrapper{
	display:grid;
	grid-template-columns: 1fr 3.5fr 1.5fr;
	align-items: center;
	margin: 0 0 1rem 0;
}

.teamGridTeamNameSizeContainer{
	display: flex;
	flex-direction: column;
}

.teamGridTeamOptionContainer{
	display:grid;
	grid-template-columns:1fr;
	row-gap: 1rem;
	
}

.teamGridTeamOption{
	border: .1rem solid #011F5b;
	display:flex;
	align-items: center;
	background-color: #ffffffff;
	
}

.teamGridTeamOptionNumber{
	flex-grow: .4
}

.teamGridTeamDayContainer{
	flex-grow: 1;
	display:grid;
	grid-template-columns: 1fr .95fr .1fr .95fr 1fr;
	row-gap:.5rem;
}

.teamGridTeamButtons{
	display:grid;
	grid-template-columns:1fr;
	padding: 0 1rem;
	margin: auto 3rem;
	align-items: center;
}

.teamRankButtons, .verifyEditDeleteTeamDiv, .adminMainPageTeamGridTeamButtons{
	display:flex;
	flex-direction: column;
	margin: 0 .5rem;
	gap: 15px;
}

.teamGridTeamEditButton, .adminUserGridUserEditButton, #adminMainPageFacilitySelectorsEditButton, .adminMainPageAddAvailabilityBlockAllUsersBlockEditButton, .userPageAddAvailabilityBlockEditButton{
	background-color: yellow;
}

.teamGridTeamDeleteButton, .adminMainPageAddAvailabilityBlockAllUsersBlockDeleteButton, .userPageAddAvailabilityBlockDeleteButton{
	background-color: red;
}

.arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

#verifyDiv, #runScheduleBuilderDiv{
	width: 85%;
	background-color:#9898dd;
	margin: 0 auto 3rem auto;
	border: #011F5b solid;
	border-width: 0 1rem 1rem 1rem;
	padding:.5rem 0;
	text-align:center;
	opacity: .95
}

#mainPageSideColumn, #adminMainPageSideColumn{
	background-color: #990000;
	color: white;
	text-align: center;
	height: inherit;
	opacity: .8
}

#userAvailabilityLabel, #adminOptionsLabel{
	background-color: red;
	margin: 0px;
	padding: 1rem;
}

#editAvailability{
	margin: 1rem;
	border-radius: 5px;
	height: 2rem;
	font-size: .8rem;
}

.userAvailabilityDayLabel{
	margin:.5rem;
	font-size: 1.25rem;
	
}

.userAvailabilityDayBlockWrapper{
	background-color: white;
	padding:.5rem;
	margin: .5rem;
	border: #011F5b solid .5rem;
	color:black;
}

.userAvailabilityTimeBlock{
	display:flex;
	margin: .5 .25rem;
}

.userAvailabilityTimeBlock p{
	flex-grow: 1;
	margin:.25rem 0;;
	font-size: 1rem;
}

#teamFormContainer{
	border: #011F5b solid;
	border-width: 1rem;
	display:grid;
	max-height: 30rem;
}



#teamFormTitle, #availabilityTitle{
	text-align: center;
	padding: 1rem;
	border-bottom: #011F5b solid .5rem;
	background-color: #990000;
	opacity: .8;
}

#fillformTitle h2, #availabilityTitle h2{
	margin: 0;
	color: white;
}

#teamForm{
	max-height: 30rem;
	background-color: #990000;
	margin: 1rem;
	opacity: .9;
	padding: 5rem;
	border-width: 1rem 1rem .5rem 1rem;
	display:grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
		"teamName teamName teamSize teamSize"
		"formAllOpts formAllOpts formAllOpts formAllOpts"
		" addTrainingOption . . modifierButtons";
		
	
}

#teamGridAddTeam, #saveAdminRankChangesButton{
	margin: 1.5rem 30%;
	height: 50px;
	width: 40%
}

#formTeamNameDiv label, #formTeamSizeDiv label{
	font-size: 1.5rem;
}

#formTeamNameDiv{
	grid-area: teamName
}

#formTeamSizeDiv{
	grid-area: teamSize
}

#formAllOpts{
	grid-area: formAllOpts;	
	grid-template-rows: 1fr;
	text-align: center;
	margin: 2rem 0;
}

.formOpt, .availabilityDay{
	background-color: white;
	padding:1rem;
	display:grid;
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(2.5rem, auto);
	gap:1rem;
	border: #011F5b solid .5rem;
	margin: 1rem 0;
	
}

.arrowButtonsDiv{
	display:grid;
}

.optionButtonsDiv{
	display:flex;
	flex-grow: 1;
}


.formAllDays{
	display:grid;
	grid-template-columns: repeat(2, 1fr);
	gap:.5rem;
}

.formDay{
	display:grid;
	grid-template-columns:1fr;	
	background-color:#9898dd;
	border: #011F5b solid .125rem;
}

.labelDeleteDayButton, .labelButtonDiv{
	display:grid;
}

.deleteDay, .deleteOpt{
	width:10%;
	background-color: red;
}

.arrowButtonsDiv{
	align-items: center;
}

.deleteDay, .arrowButtonsDiv{
	margin-left:auto;
}

.deleteOpt{
	margin-left: .5rem;
	height:2.5rem;
}

.deleteDay{
	height: 1.25rem;
}

.myTeamsMoveUpButton, .myTeamsMoveDownButton{
	height: 1.25rem;
	width: 2rem;
}


.formAllDayDetails{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

.formAllDayDetails *{
	flex: 1 0 50%;
}

.formAllDayDetails * *{
	margin: .25rem;
}



.inWeissLabel, .optLabel, .dayLabel{
	margin:0px;
}

.addTrainingDay{
	height:50%;
	width: 25%;
	background-color: rgb(189, 189, 189);
}

#addTrainingOption{
	grid-area:addTrainingOption;
	width:100%
}


#modifierButtons{
	grid-area: modifierButtons;
	display:flex;
}

#saveTeamRequest{
	flex-grow: 1
}

#cancelTeamRequest{
	flex-grow: 1;
}

#availabilityDOM{
	padding: 5rem 0
}

#availabilityDOMContainer{
	width: 80%;
	border: #011F5b solid;
	margin: auto;
	border-width: 1rem;
}

#availabilityGridContainer{
	background-color: grey;
	opacity: .9;
	padding: 1rem 5rem;
	border-width: 1rem 1rem .5rem 1rem;
}

#availabilityGrid{
	
	display:grid;
	grid-template-columns: repeat(2, 1fr);

}

.availabilityDay{
	text-align: center;
	gap: 0;
	margin-right: 1rem;
	margin-left: 1rem;
	display:block;
}

.availabilityDay h3, .availabilityDay p{
	margin: 0;
}

.availabilityDayGrid{
	display:grid;
	grid-template-columns: repeat(2, 1fr);
}

.availabilityGridRow{
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	background-color:#9898dd;
	border: #011F5b solid .125rem;
	margin: .5rem;
	align-items:center;
}

.availabilityGridRow > div, .availabilityGridRow > button{
	padding: .5rem;
}

.availabilityDeleteButtonDiv{
	display:grid;
	align-items: center;
	justify-content: center;
}

.availabilityDeleteButton, .adminUserGridUserDeleteButton{
	background-color: red;
}

.availabilityDayAddButton{
	width: 50%;
	justify-self: center;
	height: 1rem;
}

#adminMainPageTeamGridLabels{
	display:grid;
	padding: .5rem 4rem;
	background-color: white;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	border-bottom: solid .5rem #011F5b;
}

.adminMainPageTeamGridTeam{
	border-bottom:solid .5rem #011F5b;
	padding: 1.5rem 0;
}

.adminMainPageTeamGridTeamDetailsWrapper{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	align-items: center;
	border: 0.1rem solid #011F5b;
	background-color: white;
	margin:0 3rem;
	padding: 1rem;
}

.adminMainPageTeamGridTeamButtons{
	display:grid;
	grid-template-columns: 1fr 1fr;
}

.adminMainPageTeamGridTeamRankButtons{
	display: flex;
	flex-direction: column;
}

.toggleDisable{
	opacity: .5;
	background-color: rgb(132, 129, 129);
}

#adminUsersGridContainer > h3{
	margin: 10px 0;
}

#adminUsersGridContainer, #facilityDataGridContainer{
	margin-bottom: 3rem;
}


#adminUsersGrid{
	margin: .5rem;
}

.adminUserGridUser{
	display:grid;
	grid-template-areas: 
	"adminUserName adminUserColor"
	"adminUserPrivilege adminUserLastVerified"
	"adminUserButtons adminUserButtons";
	text-align: center;
	gap: 0;
	
	background-color: white;
	padding:.5rem;
	margin: .5rem 0;
	border: #011F5b solid .5rem;
	
}

.adminUserGridUser>div{
	align-items: center;
}

.adminUserGridUserName{
	grid-area: adminUserName
}

.adminUserGridUserColor{
	grid-area: adminUserColor
}

.adminUserGridUserPrivilege{
	grid-area: adminUserPrivilege
}

.adminUserGridUserLastVerified{
	grid-area: adminUserLastVerified
}

.adminUserGridUserButtonDiv{
	grid-area: adminUserButtons;
	justify-self: center
}

.adminUserGridUser *{
	color: black;
}

.adminUserGridUser > *{
	padding: .5rem 0;
}

.adminUserGridUserColor{
	display: flex; 
}

.adminUserColorLabel, .adminUserColor{
	flex-grow: 1;
}

.adminUserColorLabel{
	margin: 0;
}

.adminUserColor{
	height: .5rem;
	width: .5rem;
	align-self:center;
}

#facilityDataGrid p{
	margin-top: .25rem;
	margin-bottom: .25rem;
	color: black;
}

#adminMainPageFacilitySelectorsGrid{
	display:grid; 
	grid-template-columns: .8fr .8fr 1.4fr;
	margin-bottom: 1rem;
}

#adminMainPageFacilitySelectorsWrapper, .adminTimeBlockDay, .userAvailabilityDay{
	background-color: white;
	padding:.5rem;
	margin: .5rem;
	border: #011F5b solid .5rem;
}

.adminMainPageAddAvailabilityBlockAllUsersBlock, .userPageAddAvailabilityBlock{
	display: grid;
	grid-template-areas: 
	"blockStart blockEnd"
	"blockDelete blockDelete";
	background-color:#9898dd;
	border: #011F5b solid .125rem;
	margin: .25rem;
}

.adminTimeBlockDay p, .adminTimeBlockDay h3, .userAvailabilityDay p, .userAvailabilityDay h3{
	margin: .25rem auto;
	color: black;
}

.adminMainPageAddAvailabilityBlockAllUsersBlockStart, .userPageAddAvailabilityBlockStart{
	grid-area: blockStart;
	padding-bottom: .5rem;
}

.adminMainPageAddAvailabilityBlockAllUsersBlockEnd, .userPageAddAvailabilityBlockEnd{
	grid-area: blockEnd;
	padding-bottom: .5rem;
}

#userGeneratorDiv{
	width: 60%;
	margin:auto;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

#userGeneratorForm{
	border: #011F5b solid;
	border-width: .5rem;
	text-align:center;
	opacity: .95;
	padding: .5rem;
}

#userGeneratorForm > *{
	margin:.5rem;
}

#userGeneratorFormWrapper div{
	margin: .5rem auto;
}

#userGeneratorNameDiv{
	grid-area: userGeneratorName
}

#userGeneratorPrivilegeDiv{
	grid-area: userGeneratorPrivilege
}

#userGeneratorColorDiv{
	grid-area: userGeneratorColor
}

#userGeneratorButtonsDiv{
	grid-area: userGeneratorButtons;
	display:grid;
	grid-template-columns: 1fr 1fr;
}

#userGeneratorButtonsDiv button{
	width: 50%;
	justify-self: center;
}

#logInForm{
	padding: 2rem;
	text-align: center;
	border: #011F5b solid;
	border-width: .5rem;
	background-color: grey;
}

#logInFormWrapper{
	padding: 5rem;
}

#entryForm{
	position: fixed;
	left: 20%;
	top: 25%;
	margin: auto;
	width: 60%;
	background: white;


}

#entryForm  h3, #entryForm ul{
	margin: 0;
}

.formHidden{
	display:none;
}

.toggleScrollBarOff{
	overflow: hidden;
}

.toggleScrollBarOn{
	overflow-y: scroll;
}

#adminTeamOrderForm{
	max-height: 30rem;
}

#adminFacilityDataForm, #adminDayTimeBlockForm, #adminTeamOrderForm, #availabilityDayTimeBlockForm, #teamOrderForm{
	border: #011F5b solid;
	border-width: .5rem;
	padding: .5rem;
	color: white
}

.adminTeamOrderFormTeam, .teamOrderFormTeam{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#availabilityFormWrapper, #teamOrderFormWrapper, #adminTimeBlockFormWrapper, #adminTeamOrderFormWrapper, #adminFacilityDataFormWrapper, #userGeneratorFormWrapper{
	background-color: #990000;
	margin: .5rem;
	padding: 1rem;
	text-align: center;
}

#availabilityFormWrapper div, #adminTimeBlockFormWrapper div, #adminFacilityDataFormWrapper div{
	display: inline-block;
	margin: auto .5rem;
}


#availabilityFormWrapper button, #adminTimeBlockFormWrapper button, #adminFacilityDataFormWrapper button{
	display: block;
	margin: .5rem auto;
}

#teamOrderFormTeams, #adminTeamOrderFormTeams{
	margin: .5rem auto;
}

#teamOrderFormTeams div, #adminTeamOrderFormTeams div{
	color: black;
	background-color:white;
	margin: .25rem auto;
	padding: .25rem;


}
