
	<div id = "facilityDataGrid" data-facilitydataid = "<%=facilityData._id%>">
		<h3>Facility Options</h3>
		<div id = "adminMainPageFacilitySelectorsWrapper">
			<div id ="adminMainPageFacilitySelectorsGrid">
				<div id = "adminMainPageFacilityHoursSelectorsOpen">
					<p>Open Time : <%=timeConverter.runConvertTotalMinutesToTime(facilityData.facilityOpen)%></p>
				</div>
				<div id = "adminMainPageFacilityHoursSelectorsClose">
					<p>Close Time : <%=timeConverter.runConvertTotalMinutesToTime(facilityData.facilityClose)%></p>
				</div>
				<div id = "adminMainPageFacilityCapacitySelectorsMax">
					<p>Max Capacity : <%=facilityData.facilityMaxCapacity%></p>
				</div>
			</div>
			<button id = "adminMainPageFacilitySelectorsEditButton">Edit</button>
		</div>
	</div>

